@font-face {                                                                                
    font-family: 'Satoshi';                                                                   
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');                                
    font-weight: 100 900;                                                                     
    font-style: normal;
  }

:root {
  --background: #0f0f0f;
  --foreground: #f0f0f0;
  --sidebar-bg: #1a1a1a;
  --accent: #4ade80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #f5eef8 0%,
    #f0e0ef 50%,
    hsl(267, 50%, 85%) 100%
  );
  min-height: 100vh;
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
}
