.metricContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  width: 300px;
  height: 150px;
  margin-right: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 32px 0 rgba(31, 38, 135, 0.05);
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #6b7280;
}

.metric {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1f2937;
}
