.dashboardContainer {
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.welcomeText {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #3a2f4d;
}

.greetingText {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  color: #6b7280;
}
